* {
    max-width: 99.8vw;
}

header {
  background: #09080b;
}

header h1 {
  font-size: 60px;
  font-family: "Courier New", Courier, monospace;
  font-weight: normal;
  color: #d29741;
}

nav a {
  text-decoration: none;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-size: 30px;
  color: #d29741;
}

nav a:hover {
  color: #09080b;
  background-color: #d29741;
  transition: all 0.5s;
}

main {
  min-height: 1000px;
  color: #d29741;
  background-image: linear-gradient(to right, rgb(3, 8, 52), #09080b, #09080b);
}
